.checkmark {
  text-align: center;
}
.notes {
  white-space: pre-wrap;
}
.params-table td {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}
.params-table td:nth-child(2) {
  white-space: nowrap;
}
.params-table-vertical {
  display: none;
}
.map-table-large {
  display: flex;
  align-items: flex-end;
}
.map-tables {
  display: none;
}
.map-tables-mobile {
  display: none;
}

// -------------- Media Queries --------------
@media (hover: hover) {
  .editable:hover {
    cursor: default;
  }
  th:hover {
     cursor: default;
     border-radius: 7px 7px 0 0;
   }
   tr:hover {
    // background: cornflowerblue;
    th {
      border-radius: 7px 7px 0 0;
    }
  }
}

@media all and (min-width: 1280px) {
  .params-table {
    td:nth-child(2) {
      white-space: pre-wrap;
    }
    td.date, td.by-user {
      white-space: nowrap;
    }
  }  
}

@media all and (min-width: 1536px) {// MacBook Pro 16" viewport width.
  .params-table {
    td:nth-child(2), td:nth-child(5), td:nth-child(7) {
      white-space: pre;
    }
  }
}