@media (hover: hover) {
  .select-container {
    p.show-option:hover {
      cursor: pointer;
      color: orange;
      // font-weight: bolder;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
    }
  }
}